<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MgDeptMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.MgDept" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dept_no" property="deptNo" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mg_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.MgDept" >
    insert into mg_dept (id, dept_no, dept_name, 
      parent_id)
    values (#{id,jdbcType=INTEGER}, #{deptNo,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.pojo.MgDept" >
    update mg_dept
    set dept_no = #{deptNo,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, dept_no, dept_name, parent_id
    from mg_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, dept_no, dept_name, parent_id
    from mg_dept
  </select>
</mapper>